body {
    margin: 0;
    overflow: hidden;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    position: relative;
}

.title-bar {
    height: 5vh;
    background-color: #107c41;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.menu-bar {
    height: 5vh;
    background-color: #107c41;
    display: flex;
}

.menu-item {
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.menu-item.selected {
    background-color: #fff;
    color: #107c41;
}

.menu-item:hover {
    background-color: #0c5e31;
    cursor: pointer;
}

.menu-item.selected:hover {
    background-color: #fff;
    cursor: default;
} 

.menu-icon-bar {
    height: 6vh;
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
}

.menu-icon {
   padding-left: 10px;
   padding-right: 10px;
   height: 100%;
   display: flex;
   align-items: center;
}

.menu-icon:hover {
    background-color: lightgray;
    cursor: pointer;
}

.font-family-selector {
    width: 150px;
    font-family: 'Noto Sans';
}

.selector {
    height: 30px;
    font-size: 18px;
}

.selector option {
    font-size: 18px;
}

.formula-bar {
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: rgb(241, 241, 241);
}

.data-container {
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
}

.select-all {
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
}

.column-name-container {
    width: calc(100vw - 30px);
    height: 30px;
    border: 1px solid lightgray;
    display: flex;
    overflow: hidden;
}

.row-name-container {
    width: 30px;
    height: calc(75vh - 30px);
    border: 1px solid lightgray;
    overflow: hidden;
}

.input-cell-container {
    width: calc(100vw - 30px);
    height: calc(75vh - 30px);
    border: 1px solid lightgray;
    overflow: scroll;
}

.sheet-bar {
    height: 4vh;
    display: flex;
    align-items: center;
}
.scroller {
    width: 70px;
}
.icon-left-scroll, .icon-right-scroll {
    font-size: 30px;
}

.icon-left-scroll:hover, .icon-right-scroll:hover {
    background-color: lightgray;
    cursor: pointer;
}

.icon-add {
    color: #107c41;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
}

.icon-add:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.sheet-tab-container {
    border: 1px solid lightgray;
    width: calc(100vw - 110px);
    display: flex;
}
.sheet-tab {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    width: 80px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-right: 1px solid lightgray;
}

.sheet-tab:hover {
    cursor: pointer;
    background-color: lightgray;
}
.sheet-tab.selected {
    border-bottom: 4px solid #107c41;
}
.sheet-tab.selected:hover{
    cursor:default;
    background-color: #fff;
}

.sheet-tab:hover {
    cursor: pointer;
    background-color: lightgray;
}

.sheet-tab.selected:hover {
    cursor: default;
    background-color: #fff;
}

.sheet-options-modal {
    border: 1px solid black;
    position: absolute;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 13%) 0px 6.4px 14.4px 0px, rgb(0 0 0 / 11%) 0px 1.2px 3.6px 0px;
}

.option {
    padding: 7px 15px 7px 15px;
}

.option:hover {
    background-color: lightgray;
    cursor: default;
}

.sheet-modal-parent {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheet-rename-modal, .sheet-delete-modal {
    position: absolute;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 13%) 0px 6.4px 14.4px 0px, rgb(0 0 0 / 11%) 0px 1.2px 3.6px 0px;
    padding: 15px;
    min-width: 400px;
}

.sheet-modal-title {
    text-align: center;
    font-size: 24px;
    color: #217346;
    font-weight: bold;
}

.sheet-modal-input-container, .sheet-modal-detail-container {
    padding: 20px;
}

.sheet-modal-detail-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sheet-modal-input-title {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.sheet-modal-input {
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
    outline-color: #217346;
}

.sheet-modal-confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
}

.button {
    border: 1px solid;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ok-button, .delete-button {
    background-color: #217346;
    color: #fff;
    height: 40px;
    border-radius: 3px;
}

.ok-button:hover, .delete-button:hover {
    background-color: #175533;
    cursor: pointer;
}

.cancel-button {
    height: 40px;
    border-radius: 3px;
}

.cancel-button:hover {
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

.sheet-modal-detail-title {
    font-weight: 600;
    font-size: 24px;
}

.delete-icon {
    margin-right: 5px;
}
.column-name {
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
    font-weight: bold;
}

.row-name {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
}

.cell-row {
    display: flex;
}

.input-cell {
    min-width: 100px;
    min-height: 25px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    outline-color: #107c41;
    font-size: 14px;
    font-family: 'Noto Sans';
    display:flex;
  flex-direction: column;
  justify-content: center;
}

.input-cell.selected {
    border: 2px solid #107c41;
}

.formula-editor {
    height: 70%;
    border: 1px solid lightgray;
    background-color: #fff;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    align-items: center;
}

.selected-cell {
    width: 120px;
}

.function-sign {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formula-input {
    width: calc(100vw - 160px);
    outline-color: #107c41;
}

.menu-icon.selected {
    background-color: lightgray;
}

.input-cell.top-selected {
    border-top: none;
}

.input-cell.bottom-selected {
    border-bottom: 1px solid lightgray;
}

.input-cell.right-selected {
    border-right: 1px solid lightgray;
}

.input-cell.left-selected {
    border-left: none;
}

.color-picker {
    position: absolute;
    width: 26px;
    height: 12px;
    border: none;
    padding: 0;
    top: 25px;
    left: 8.5px;
    cursor: pointer;
}

.icon-color-fill, .icon-color-text {
    position: relative;
}